
<h2> Enter IC number to get Curam XML </h2>
<form method="GET" action="/curam_pull">
  <p>IC: <input type="text" rows="5" cols="10" name="ic"></p>
  <input type="submit">
</form>

<textarea rows="50" cols="130" autofocus><%= @curam_pull%></textarea>>